.redColor{
    color: red;
}

.blackColor{
    color: black;
}

body{
    background-color: green;
    margin: 0;
    padding: 0;
}

.card{
    display: block;
    background-color: white;
    height: 300px;
    width: 180px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}

 .cardHeader{
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 80px;
}

 .cardContent{
    font-size: 80px;
    position: absolute;
    top: 37%;
    left: 37%;
}

.cardFooter{
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 80px;
}

